@model ProfilingMapping.Models.LogiInModel
@{
    ViewBag.Title = "View Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBFIcaHmn63Pfgss3u4aLltaJtDyc3QxN8&sensor=false"></script>

<br />
@{
    var Names = new List<SelectListItem>();
    foreach (var names in Model.ListOfNames)
    {
        Names.Add(new SelectListItem { Text = names.FIRSTNAME + " " + names.LASTNAME, Value = names.NAMEID.ToString() });
    }
}
<div class="" style="display: inline-block; width: 100%; height:50px; position:relative">
    <div style="width:200px;margin:0; position: absolute;right: 5px;">
        <a class="btn btn-primary" href="@Url.Action("ListScreen","RequestData")"><i class="icon-chevron-left"></i>  Back</a>
    </div>
</div>
<br />
<br />
<div id="dvMap" style="width: 100%; height: 500px; border:solid 1px"></div>

<script type="text/javascript">

    //window.onload = function () {
    //    initMap();
    //}
    @{
        var Users_List = new List<ProfilingMapping.Models.TBL_NAMES>();
        foreach (var list in Model.ListOfNames)
        {
            Users_List.Add(
                new ProfilingMapping.Models.TBL_NAMES
                {
                    NAMEID = list.NAMEID,
                    FIRSTNAME = list.FIRSTNAME,
                    MIDDLENAME = list.MIDDLENAME,
                    LASTNAME = list.LASTNAME,
                    LAT = list.LAT,
                    LONG = list.LONG
                }
            );
        }
    }
    var holdNames = `@Html.Raw(Json.Encode(Users_List))`;
    function initMap() {
        @{
            var javascript_code = "var ";

            javascript_code += Model.SelectedRequest.TBL_NAMES.FIRSTNAME + Model.SelectedRequest.TBL_NAMES.LASTNAME + " = new google.maps.LatLng(" + Model.SelectedRequest.LAT + ", " + Model.SelectedRequest.LONG + "),";

            javascript_code += "CurrentUserLocation = new google.maps.LatLng("+Model.LAT+", "+Model.LONG+"),                     " +
                                "    myOptions = {                                                                 " +
                                "        zoom: 17,                                                                 " +
                                "        center: CurrentUserLocation                                                            " +
                                "    },                                                                            " +
                                "    map = new google.maps.Map(document.getElementById('dvMap'), myOptions),       " +
                                "    directionsService = new google.maps.DirectionsService,                        " +
                                "    directionsDisplay = new google.maps.DirectionsRenderer({                      " +
                                "        map: map                                                                  " +
                                "    }),                                                                           ";

            javascript_code += "    " + Model.SelectedRequest.TBL_NAMES.FIRSTNAME + Model.SelectedRequest.TBL_NAMES.LASTNAME + "Marker = new google.maps.Marker({                                            " +
            "        position: " + Model.SelectedRequest.TBL_NAMES.FIRSTNAME + Model.SelectedRequest.TBL_NAMES.LASTNAME + ",                                                         " +
            "        title: 'point A',                                                         " +
            "        label: '" + Model.SelectedRequest.TBL_NAMES.FIRSTNAME + " " + Model.SelectedRequest.TBL_NAMES.LASTNAME + "',                                                          " +
            "        map: map                                                                  " +
            "    }),                                                                           ";


            javascript_code += "    CurrentUserLocationMarker = new google.maps.Marker({                         " +
            "        position: CurrentUserLocation,                                                         " +
            "        title: 'point A',                                                         " +
            "        label: 'My Location',                                                          " +
            "        map: map                                                                  " +
            "    });                                                                           ";
        }
        @Html.Raw(javascript_code);

        // get route from A to B
        @Html.Raw("calculateAndDisplayRoute(directionsService, directionsDisplay, CurrentUserLocation, " + Model.SelectedRequest.TBL_NAMES.FIRSTNAME + Model.SelectedRequest.TBL_NAMES.LASTNAME + ");");
        //calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB);

    }
    function calculateAndDisplayRoute(directionsService, directionsDisplay, pointA, pointB) {
        directionsService.route({
            origin: pointA,
            destination: pointB,
            avoidTolls: true,
            avoidHighways: false,
            travelMode: google.maps.TravelMode.DRIVING
        }, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }

    initMap();
</script>
