USE [PROFILINGMAPPINGDB]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 23/05/2023 11:20:20 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[ADMINID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[MIDDLENAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[TAGGINGID] [uniqueidentifier] NOT NULL,
	[STREET] [nvarchar](50) NULL,
	[SUBDIVISION] [nvarchar](50) NULL,
	[CITY] [nvarchar](50) NULL,
	[PROVINCE] [nvarchar](50) NULL,
	[LAT] [nvarchar](50) NULL,
	[LONG] [nvarchar](50) NULL,
	[BARANGAYID] [uniqueidentifier] NOT NULL,
 CONSTRAINT [UQ_TBL_ADMIN_USERNAME_PASSWORD] UNIQUE CLUSTERED 
(
	[USERNAME] ASC,
	[PASSWORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BARANGAY]    Script Date: 23/05/2023 11:20:20 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BARANGAY](
	[BARANGAYID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](150) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NAMES]    Script Date: 23/05/2023 11:20:20 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NAMES](
	[NAMEID] [uniqueidentifier] NOT NULL,
	[FIRSTNAME] [nvarchar](50) NOT NULL,
	[MIDDLENAME] [nvarchar](50) NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[STREET] [nvarchar](150) NULL,
	[SUBDIVISION] [nvarchar](150) NULL,
	[CITY] [nvarchar](150) NULL,
	[PROVINCE] [nvarchar](150) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[BIRTHDATE] [datetime] NULL,
	[AGE] [int] NULL,
	[LAT] [nvarchar](50) NULL,
	[LONG] [nvarchar](50) NULL,
	[BARANGAYID] [uniqueidentifier] NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_REQUEST]    Script Date: 23/05/2023 11:20:20 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_REQUEST](
	[REQUESTID] [uniqueidentifier] NOT NULL,
	[NAMEID] [uniqueidentifier] NOT NULL,
	[COMMENT] [nvarchar](500) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL,
	[DEVICENAME] [nvarchar](50) NOT NULL,
	[LAT] [nvarchar](50) NOT NULL,
	[LONG] [nvarchar](50) NOT NULL,
	[STATUSID] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STATUS]    Script Date: 23/05/2023 11:20:20 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STATUS](
	[STATUSID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATE] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_TAGGING]    Script Date: 23/05/2023 11:20:20 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_TAGGING](
	[TAGGINGID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
	[CREATEDDATE] [datetime] NOT NULL,
	[CREATEDBY] [nvarchar](50) NULL,
	[UPDATEDDATED] [datetime] NULL,
	[UPDATEDBY] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_BARANGAY] ([BARANGAYID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'49db5b36-ae87-4a92-a150-6c031cb2becb', N'Altura Bata', N'Altura Bata', N'Altura Bata', CAST(N'2023-05-19T15:39:09.650' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_BARANGAY] ([BARANGAYID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'1170ec9f-04d8-4bdd-96a3-e0ae8c796975', N'Altura Matanda', N'Altura Matanda', N'Altura Matanda', CAST(N'2023-05-19T15:39:09.657' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_BARANGAY] ([BARANGAYID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'7a198e40-428d-47ae-b0c1-9a631d36c471', N'Altura-South', N'Altura-South', N'Altura-South', CAST(N'2023-05-19T15:39:09.657' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_REQUEST] ([REQUESTID], [NAMEID], [COMMENT], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY], [DEVICENAME], [LAT], [LONG], [STATUSID]) VALUES (N'21927e03-f5fb-4e90-b434-d4a5a6515a96', N'81e625c2-4678-44d6-8c0a-02cb35af08db', N'Test', CAST(N'2023-05-21T18:37:18.487' AS DateTime), N'017248e0-55e1-4b0c-9253-5784bcc46392', CAST(N'2023-05-21T19:22:28.617' AS DateTime), N'017248e0-55e1-4b0c-9253-5784bcc46392', N'Testing', N'14.07507320231139', N'121.14691351457499', N'e8ee5759-2e23-4632-ab95-70f721279840')
INSERT [dbo].[TBL_REQUEST] ([REQUESTID], [NAMEID], [COMMENT], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY], [DEVICENAME], [LAT], [LONG], [STATUSID]) VALUES (N'8bcbdab9-3836-40d6-a4f4-80387432f5ab', N'79d7658f-b190-496e-86fe-20cdb7f07588', NULL, CAST(N'2023-05-21T19:32:43.080' AS DateTime), NULL, NULL, NULL, N'JomielTesting', N'14.07507320231139', N'121.14691351457499', N'e8ee5759-2e23-4632-ab95-70f721279840')
INSERT [dbo].[TBL_REQUEST] ([REQUESTID], [NAMEID], [COMMENT], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY], [DEVICENAME], [LAT], [LONG], [STATUSID]) VALUES (N'7933536d-9239-4406-8f81-107324a5f130', N'79d7658f-b190-496e-86fe-20cdb7f07588', NULL, CAST(N'2023-05-21T20:23:19.643' AS DateTime), NULL, NULL, NULL, N'JomielTestingagain', N'14.07507320231139', N'121.14691351457499', N'e8ee5759-2e23-4632-ab95-70f721279840')
INSERT [dbo].[TBL_STATUS] ([STATUSID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'e8ee5759-2e23-4632-ab95-70f721279840', N'NEW', N'NEW', N'NEW', CAST(N'2023-05-21T18:28:32.853' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_STATUS] ([STATUSID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATE], [UPDATEDBY]) VALUES (N'e398bdf1-912f-413f-8bfe-fd5edb66bf0c', N'COMPLETED', N'COMPLETED', N'COMPLETED', CAST(N'2023-05-21T18:28:32.853' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_TAGGING] ([TAGGINGID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATED], [UPDATEDBY]) VALUES (N'69533cdb-7d5e-485c-9572-0bbdd42199a9', N'ADMIN USER', N'ADMIN_USER', N'ADMIN USER', CAST(N'2023-05-19T23:20:37.493' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[TBL_TAGGING] ([TAGGINGID], [NAME], [CODE], [DESCRIPTION], [CREATEDDATE], [CREATEDBY], [UPDATEDDATED], [UPDATEDBY]) VALUES (N'8353e522-5c21-4552-83d6-c709bf9a4523', N'USER', N'USER', N'NON ADMIN USER', CAST(N'2023-05-19T23:20:37.493' AS DateTime), NULL, NULL, NULL)
/****** Object:  Index [PK_TBL_ADMIN_ADMINID]    Script Date: 23/05/2023 11:20:20 am ******/
ALTER TABLE [dbo].[TBL_ADMIN] ADD  CONSTRAINT [PK_TBL_ADMIN_ADMINID] PRIMARY KEY NONCLUSTERED 
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TBL_BARANGAY_BARANGAYID]    Script Date: 23/05/2023 11:20:20 am ******/
ALTER TABLE [dbo].[TBL_BARANGAY] ADD  CONSTRAINT [TBL_BARANGAY_BARANGAYID] PRIMARY KEY NONCLUSTERED 
(
	[BARANGAYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBL_NAMES_NAMEID]    Script Date: 23/05/2023 11:20:20 am ******/
ALTER TABLE [dbo].[TBL_NAMES] ADD  CONSTRAINT [PK_TBL_NAMES_NAMEID] PRIMARY KEY NONCLUSTERED 
(
	[NAMEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBL_REQUEST_REQUESTID]    Script Date: 23/05/2023 11:20:20 am ******/
ALTER TABLE [dbo].[TBL_REQUEST] ADD  CONSTRAINT [PK_TBL_REQUEST_REQUESTID] PRIMARY KEY NONCLUSTERED 
(
	[REQUESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_TBL_STATIUS_STATUSID]    Script Date: 23/05/2023 11:20:20 am ******/
ALTER TABLE [dbo].[TBL_STATUS] ADD  CONSTRAINT [FK_TBL_STATIUS_STATUSID] PRIMARY KEY NONCLUSTERED 
(
	[STATUSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_TBL_TAGGING_TAGGINGID]    Script Date: 23/05/2023 11:20:20 am ******/
ALTER TABLE [dbo].[TBL_TAGGING] ADD  CONSTRAINT [FK_TBL_TAGGING_TAGGINGID] PRIMARY KEY NONCLUSTERED 
(
	[TAGGINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_ADMIN] ADD  CONSTRAINT [DF_TBL_ADMIN_ADMINID]  DEFAULT (newid()) FOR [ADMINID]
GO
ALTER TABLE [dbo].[TBL_ADMIN] ADD  CONSTRAINT [DF_TBL_ADMIN_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_BARANGAY] ADD  CONSTRAINT [DF_TBL_BARANGAY_BARANGAYID]  DEFAULT (newid()) FOR [BARANGAYID]
GO
ALTER TABLE [dbo].[TBL_BARANGAY] ADD  CONSTRAINT [DF_TBL_BARANGAY_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_NAMES] ADD  CONSTRAINT [DF_TBL_NAMES_NAMEID]  DEFAULT (newid()) FOR [NAMEID]
GO
ALTER TABLE [dbo].[TBL_NAMES] ADD  CONSTRAINT [DF_TBL_NAMES_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_REQUEST] ADD  CONSTRAINT [DF_TBL_REQUEST_REQUESTID]  DEFAULT (newid()) FOR [REQUESTID]
GO
ALTER TABLE [dbo].[TBL_REQUEST] ADD  CONSTRAINT [DF_TBL_REQUEST_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_REQUEST] ADD  CONSTRAINT [DF_TBL_REQUEST_STATUSID]  DEFAULT ('E8EE5759-2E23-4632-AB95-70F721279840') FOR [STATUSID]
GO
ALTER TABLE [dbo].[TBL_STATUS] ADD  CONSTRAINT [DF_TBL_STATUS_STATUSID]  DEFAULT (newid()) FOR [STATUSID]
GO
ALTER TABLE [dbo].[TBL_STATUS] ADD  CONSTRAINT [DF_TBL_STATUS_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_TAGGING] ADD  CONSTRAINT [DF_TBL_TAGGING_TAGGINGID]  DEFAULT (newid()) FOR [TAGGINGID]
GO
ALTER TABLE [dbo].[TBL_TAGGING] ADD  CONSTRAINT [DF_TBL_TAGGING_CREATEDDATE]  DEFAULT (getdate()) FOR [CREATEDDATE]
GO
ALTER TABLE [dbo].[TBL_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ADMIN_BARANGAYID] FOREIGN KEY([BARANGAYID])
REFERENCES [dbo].[TBL_BARANGAY] ([BARANGAYID])
GO
ALTER TABLE [dbo].[TBL_ADMIN] CHECK CONSTRAINT [FK_TBL_ADMIN_BARANGAYID]
GO
ALTER TABLE [dbo].[TBL_ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_TBL_ADMIN_TAGGINGID] FOREIGN KEY([TAGGINGID])
REFERENCES [dbo].[TBL_TAGGING] ([TAGGINGID])
GO
ALTER TABLE [dbo].[TBL_ADMIN] CHECK CONSTRAINT [FK_TBL_ADMIN_TAGGINGID]
GO
ALTER TABLE [dbo].[TBL_NAMES]  WITH CHECK ADD  CONSTRAINT [FK_TBL_NAMES_BARANGAYID] FOREIGN KEY([BARANGAYID])
REFERENCES [dbo].[TBL_BARANGAY] ([BARANGAYID])
GO
ALTER TABLE [dbo].[TBL_NAMES] CHECK CONSTRAINT [FK_TBL_NAMES_BARANGAYID]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_REQUEST_NAMEID] FOREIGN KEY([NAMEID])
REFERENCES [dbo].[TBL_NAMES] ([NAMEID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_REQUEST_NAMEID]
GO
ALTER TABLE [dbo].[TBL_REQUEST]  WITH CHECK ADD  CONSTRAINT [FK_TBL_STATUS_STATUSID] FOREIGN KEY([STATUSID])
REFERENCES [dbo].[TBL_STATUS] ([STATUSID])
GO
ALTER TABLE [dbo].[TBL_REQUEST] CHECK CONSTRAINT [FK_TBL_STATUS_STATUSID]
GO
USE [master]
GO
