@model ProfilingMapping.Models.SystemModel
@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Profiling and Mapping System</h1>
        <p class="lead">Profiling and Mapping System is created using HTML, CSS and JavaScript.</p>
    </section>
    <!--<section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Profiling and Mapping</h1>-->
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>*@
    <!--</section>

    <ul class="list-group col-sm-5">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="@Url.Action("ListScreen","CourseSection")"><i class="icon-list"></i> Profiles</a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="@Url.Action("ListScreen","CourseSection")"><i class="icon-bookmark"></i> Request</a>
        </li>
    </ul>-->
</main>
